body {
    background-color: #FDF5E6;
    color: #000000;
}

h1 {
    background-color: #DB7093;
    color: #FFFFFF;
}

h2 {
    color: #FA8072;
}
table {
    background-color: #E0FFFF;
}

.title {
    color: #1976D2;
}
